.header-wrap .landing-logo, .footer .landing-logo {
  display: flex;
  align-items: center;
  font-family: "Hind", sans-serif;
  font-size: 27px; }
  .header-wrap .landing-logo p, .footer .landing-logo p {
    font-weight: bold;
    padding-left: 19px;
    margin-top: 22px; }
  .header-wrap .landing-logo span, .footer .landing-logo span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    text-align: center; }
  .header-wrap .landing-logo img, .footer .landing-logo img {
    height: 54px;
    width: 54px; }

body {
  margin: 0;
  background-color: #fff; }

.header {
  background: url("../img/m-h-day.jpg") no-repeat #9b885d;
  height: 900px;
  width: 100%;
  border-radius: 0 0 40% 0 / 40%;
  background-size: cover;
  background-position: 0 center; }

.header-wrap {
  padding-left: 193px; }
  .header-wrap .landing-logo p {
    color: #2b2f3c; }
  .header-wrap .header_heading {
    font-weight: bold;
    font-size: 90px;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 51px;
    margin-bottom: 2px;
    color: #2b2f3c;
    width: 611px;
    position: relative;
    z-index: 1;
    line-height: 1; }
    .header-wrap .header_heading::after {
      content: "";
      width: 386px;
      display: block;
      height: 61px;
      background-color: #13a0c7;
      position: absolute;
      top: 117px;
      left: 0;
      z-index: -1; }
  .header-wrap .header_text {
    color: #2b2f3c;
    font-family: "Hind", sans-serif;
    width: 1000px;
    white-space: pre-line;
    margin-bottom: 73px;
    margin-top: 44px;
    font-size: 21px;
    line-height: 1.5; }
  .header-wrap .header_button {
    background-color: #689600;
    padding: 16px 54px 16px 54px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    font-family: "Source Sans Pro", sans-serif;
    border: none; }
  .header-wrap .login {
    font-family: "Hind", sans-serif;
    color: #fff;
    padding-left: 186px;
    font-size: 24px; }

.section {
  position: relative; }

.section_text {
  padding-top: 48px;
  color: #2b2f3c;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 53px;
  width: 529px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1; }
  .section_text::after {
    content: "";
    width: 234px;
    height: 64px;
    position: absolute;
    top: 42px;
    right: 22px;
    z-index: -1;
    background-color: #13a0c7; }

.section_card_wrap {
  margin-top: 45px;
  margin-bottom: 261px; }

.section_card {
  width: 1084px;
  margin: 0 auto;
  background-color: #21232e;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 7.2px; }
  .section_card_heading {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 6px; }
  .section_card_text {
    color: #c1c3ce;
    font-family: "Hind", sans-serif;
    line-height: 1.45;
    font-size: 21px;
    text-align: justify;
    margin-top: 27px;
    margin-bottom: 13px; }
  .section_card_img {
    object-fit: cover; }
    .section_card_img[alt="experts"] {
      width: 371px;
      height: 294px; }
    .section_card_img[alt="content formats"] {
      width: 357px;
      height: 294px; }
    .section_card_img[alt="certificate"] {
      width: 397px;
      height: 294px; }
  .section_card .section_link {
    font-family: "Hind", sans-serif;
    color: #c1c3ce;
    font-size: 19px; }
  .section_card_right_container {
    width: 510px;
    text-align: center;
    margin: 0 auto; }

.section_banner {
  height: 178px;
  width: 1198px;
  background: linear-gradient(45deg, #66960a, #2f5cd3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -353px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px; }
  .section_banner_button {
    background-color: #689600;
    padding: 16px 54px 16px 54px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    font-family: "Source Sans Pro", sans-serif;
    border: none; }
  .section_banner_heading {
    color: #2b2f3c;
    font-size: 36px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 1;
    width: 522px;
    margin-top: 0;
    margin-bottom: 0; }
    .section_banner_heading::after {
      content: "";
      width: 81px;
      height: 61px;
      background-color: #13a0c7;
      position: absolute;
      top: -17px;
      left: 143px;
      z-index: -1; }
  .section_banner_text {
    color: #c6c5c5;
    font-family: "Hind", sans-serif;
    font-size: 20px; }

.footer {
  background-color: #21232e; }
  .footer-wrap {
    height: 305px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 49px; }
  .footer_text {
    color: #c1c3ce;
    font-family: "Hind", sans-serif;
    width: 403px;
    font-size: 18px;
    line-height: 1.4; }
  .footer-cr {
    color: #c1c3ce;
    font-family: "Hind", sans-serif;
    font-size: 19px; }
  .footer .landing-logo p {
    color: #c6c5c5; }
