$background-color-body: #fff;
$header-background: url("../img/m-h-day.jpg") no-repeat #9b885d;
$font-family-header-text: "Hind", sans-serif;
$background-color-word: #13a0c7;
$header-text-color: #2b2f3c;
$bgc-header-button: #689600;
$bgc-section-card: #21232e;
$color-section-card-text: #c1c3ce;
$bgc-section-banner: linear-gradient(45deg, #66960a, #2f5cd3);
