$background-color-body: #21232e;
$header-background: url("../img/m-h-night.jpg") no-repeat #1d272b;
$font-family-header-text: "Fresca", sans-serif;
$background-color-word: #ff4d33;
$header-text-color: #fff;
$bgc-header-button: #e3ac03;
$bgc-section-card: #3b3f50;
$color-section-card-text: #c8c8c8;
$bgc-section-banner: linear-gradient(45deg, #db9f09, #932e51);
